@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html { 
  background: url("../images/macbook1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

body {
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
}

.homePage-maintext {
  margin: 20vh 0 0 10vw;
}

.homePage-maintext h3 {
  margin-top: 10vh;
}

#homePage-greeting {
  margin-bottom: .5em;
}
