* {
  margin: 0;
  padding: 0;
}

body { 
  background: url("../images/macbook1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100%;
}
