* {
  margin: 0;
  padding: 0;
}


html {
  background-color: black;
}

body { 
  color: white;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none;
}

.home-container {
  background: url("../images/macbook1.jpg") no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right 50%;
  height: calc(100vh - 72px);
}

.project-details-container {
  height: calc(100vh - 72px);
}
