* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #121212;
}

body {
	color: white;
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

.home-container {
	background: url('../images/macbook1.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right 50%;
}

.home-container h4 {
	font-size: 1.3em;
}

.home-container h5 {
	font-size: 1.3em;
}

.home-page-typography {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 1em;
	border-radius: 4px;
	width: fit-content;
}

#connect-page-header {
	margin-top: 1em;
	text-align: center;
	font-size: 3em;
}

.projects-page-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5vw;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

.project-buttons-container {
	flex-direction: row;
	justify-content: space-evenly;
}

.project-page-images {
	width: 450px;
	height: 200px;
	border-radius: 4px;
}

.project-details-container {
	height: calc(100vh - 72px);
}

.project-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 20%;
	padding-right: 20%;
	background: #121212;
	text-align: center;
}

#project-details-h2 {
	font-size: 3rem;
}

@media only screen and (max-width: 680px) {
	.home-container {
		background-position: center center;
		background-attachment: fixed;
		min-height: 100vh;
	}

	.home-main-content {
		padding-top: 2em;
		left: auto;
		right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.home-page-buttons {
		display: grid;
		grid-template-columns: 1fr;
		margin: 1em 0;
	}

	.home-page-buttons button {
		margin-top: 0.5em;
	}

	#connect-page-header {
		font-size: 2em;
		text-align: center;
	}

	.projects-page-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 5vw;
		text-align: center;
		padding: 1em;
		margin: 1em;
	}

	.project-buttons-container {
		flex-direction: column;
		align-items: center;
	}

	.project-button {
		width: 250px;
	}

	.project-page-images {
		width: 250px;
		border-radius: 4px;
	}

	.project-details {
		padding-left: 10%;
		padding-right: 10%;
	}

	#project-details-h2 {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 681px) and (max-width: 769px) {
	.home-container {
		background-position: center center;
		background-attachment: fixed;
		height: 100vh;
	}

	.home-main-content {
		left: auto;
		right: auto;
		top: 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.home-page-buttons {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 1em;
	}

	.home-page-buttons button {
		margin-top: 0.5em;
	}

	.projects-page-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5vw;
		text-align: center;
		padding: 1em;
		margin: 1em;
	}

	.project-page-images {
		width: 250px;
		border-radius: 4px;
	}

	.project-details {
		padding-left: 10%;
		padding-right: 10%;
	}

	#project-details-h2 {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 770px) {
	.home-container {
		background-position: center center;
		height: calc(100vh - 58px);
		overflow: hidden;
	}

	.home-main-content {
		margin-left: 10%;
		margin-top: 10%;
		height: 100%;
	}

	.home-container h1 {
		font-size: 4em;
	}

	.home-container h2 {
		font-size: 3em;
	}

	.home-container h4 {
		font-size: 2em;
	}

	.home-page-buttons {
		display: flex;
		margin-top: 1em;
	}

	.home-page-buttons button {
		margin-right: 1em;
	}

	.project-page-images {
		width: 350px;
	}
}

@media only screen and (min-width: 1250px) {
	.home-main-content {
		position: relative;
		margin: 0;
		left: 10%;
		top: 10%;
	}

	.project-page-images {
		width: 350px;
		border-radius: 4px;
	}
}
